# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
HowTo/ArdTx Final Soln V2_CustomLib.log
*.net
HowTo/ArdTx Final Soln V2_CustomLib.op.raw
*.raw
HowTo/Arlarm Project/20171213_024400.jpg
HowTo/Arlarm Project/20171213_031602.jpg
HowTo/Arlarm Project/20171213_031642c.jpg
HowTo/Arlarm Project/20171213_031642.jpg
HowTo/Schematic.png
HowTo/Arlarm Project/20171213_024528.jpg
HowTo/Arlarm Project/20171213_024541.jpg
HowTo/Arlarm Project/20171213_031642b.jpg
HowTo/Arlarm Project/20171213_031648.jpg
HowTo/Arlarm Project/20171213_024520.jpg
/CastleAritechArduinoESP32/.vs/CastleAritechArduinoESP32/v16
/CastleAritechArduinoESP32/Debug
/CastleAritechArduinoESP32/src
/CastleAritechArduinoESP32/__vm
/CastleAritechArduinoESP32/libs/ESPmDNS
/CastleAritechArduinoESP32/libs/HttpsServer
/CastleAritechArduinoESP32/libs/oled-ssd1306
/CastleAritechArduinoESP32/libs/Preferences
/CastleAritechArduinoESP32/libs/WiFi
/CastleAritechArduinoESP32/libs/WiFiClientSecure
/.vs
/TestAlexa
/CastleAritechArduinoESP32/CastleAritechArduinoESP32.sln
/CastleAritechArduinoESP32/CastleAritechArduinoESP32.vcxproj
/CastleAritechArduinoESP32/CastleAritechArduinoESP32.vcxproj.filters
/CastleAritechArduinoESP32/CastleAritechArduinoESP32.vcxproj.user
/CastleAritechArduinoESP32/ConfigGit.h
/CastleAritechArduinoESP32/ConfigMy.h
